* {
    box-sizing: border-box;
}

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
    padding: 15px;
}

@media only screen and (min-width: 768px) {
/* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.Travelaux {
    font-size: xx-large;
    font-weight: bold;
    text-align: center;
    padding: 16px;
}

.footer {
    background-color: #eef4f7;
    color: #242527;
    text-align: center;
}

.sub-title {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; 
    padding-top: 10px; 
    padding-bottom: 21px;
    font-family: 'Prata', serif;
}

.sub-text {
    display: block;
    text-align: center;
    font-size: large;
    font-weight: bold;
    padding-top: 15px; 
    font-family: 'Poppins', sans-serif;
}

.lst-food {
    margin-left: -40px;
}

.img-food {
    display: block;
    float: left;
    padding: 2px;
    width: 3.5cm;
    margin-bottom: 10px;
    margin-right: 15px;
    border-radius: 8px;
    transition: box-shadow 0.6s ease-in-out;
}

.img-food:hover {
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.2), 0 6px 5px 0 rgba(0, 0, 0, 0.19);
}

.p-xx {
    display: block;
    word-wrap: break-word;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    font-weight: bold;
    text-align: justify;
}

.p-intro {
    display: block;
    word-wrap: break-word;
    font-family: 'Poppins', sans-serif;
    font-size: small;
    font-weight: bold;
    text-align: justify;
    margin-top: -0.04cm;
}

.p-clima {
    display: block;
    word-wrap: break-word;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: bold;
    text-align: justify;
}

.p-travel {
    display: block;
    word-wrap: break-word;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: -3cm;
    text-align: justify;
}

.lst-food li {
    display: block;
    text-decoration: none;
    list-style: none; 
    overflow: hidden;
    width: 17cm;
    float: left;
}

#question-title {
    display: block;
    align-items: center;
    align-content: center;
    height: 9.7cm;
    margin: auto;
    background-repeat: no-repeat;
    position: relative;
    border-radius: 7px;
}

#question {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    border-radius: 20px;
    background-color: rgb(204, 204, 204);
}

.gg-map {
    border-radius: 9px;
}

.img-state {
    border-radius: 9px;
    margin-bottom: -1cm;
    margin-top: 0.6cm;
}

.place {
    display: block;
    background-color: rgb(199, 240, 240);
    border-radius: 3px;
    padding: 2.5cm;
    margin: 3px 0 4px 0;
    box-shadow: 0 0 2px 0.1px;
}

.place-txt {
    font-family: 'Amatic SC', cursive;
    font-size: xx-large;
    font-weight: bolder;
    margin: -2.2cm 0 0 -1.9cm;
}

.foodi-txt {
    font-family: 'Jost', sans-serif;
    font-weight: bold;
    margin: 30px 0 -20px -20px;
}

.mapi-txt {
    font-family: 'Jost', sans-serif;
    font-weight: bold;
    margin: 60px 0 10px -20px;
}

.clima-txt {
    font-family: 'Jost', sans-serif;
    font-weight: bold;
    margin: 18cm 0 0 -20px;
}

.travel-txt {
    font-family: 'Jost', sans-serif;
    font-weight: bold;
    margin: 40px 0 0 -20px;
}

.sub-foodi-txt {
    font-family: 'Jost', sans-serif;
    font-weight: bold;
    margin-left: 5px;
}

.container {
    display: grid;
    align-items: center;
    margin: auto;
    margin-top: 1cm;
    margin-bottom: 1cm;
    background-color: #eef4f7;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 3px 0.1px;
}

.places {
    display: grid;
    align-items: center;
    margin: auto;
    margin-top: 1cm;
    background-color: #eef4f7;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 4px 0.1px;
}

.selected-button {
    background-color: rgb(202, 187, 216);
    color: white;
    padding: 5px 10px;
    border: 1px #ccc solid;
    border-radius: 4.5px;
    outline: none;
}

.hide {
    display: none;
}

.btn {
    border: 1px #ccc solid;
    border-radius: 4.5px;
    background-color: antiquewhite;
    padding: 5px 10px;
    color: rgb(112, 112, 112);
    outline: none;
    cursor: pointer;
}

.extend-btn {
    float: right;
    cursor: pointer;
    margin-right: -2.2cm;
    margin-top: -2.2cm;
    outline: none;
    border-radius: 30cm;
    border: none;
    background-color:rgb(199, 240, 240);
}

.extend-btn:hover {
    background-color: rgb(197, 219, 219);
}

.extend-btn:active {
    background-color: rgb(175, 194, 194);
}

.btn:hover {
    border-color: black;
    transition: border 0.37s ease-in-out;
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 7px;
    margin: 15px 0;
}

.start-btn, .previous-btn, .next-btn, .end-btn {
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
}

.start-init {
    margin: auto;
}

.controls {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 8px;
}

body {
    margin: 0;
    overflow: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #eef4f7;  
    font-size: large;
}

hr { 
    display: flex;
    margin: -10px 5cm 0 5cm;
    border-style: inset;
    justify-content: center;
    align-items: center;
    border-width: 1px;
} 

ul.navbar {
    position: relative;
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

li {
    float: right;
}

.navbar li a {
    display: block;
    color: #242527;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    font-size: 21px;
    font-family: 'Comfortaa', cursive;
    font-weight: bold;
}

li a:hover{
	transition: 0.4s;
    color: #35845d;
}

.footer {
    margin-top: 1cm;
}
  
.footer ul {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3px;
    list-style: none;
    text-align: center;
    font-size: 18px;
}
  
.footer li {
    padding: 12px;
    font-size: 21px;
    font-family: 'Comfortaa', cursive;
    font-weight: bold;
}
  
.footer ul a {
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
}
  
.footer ul a:hover {
    opacity: 1;
    color: #35845d;
}
  
.footer .social {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 2px;
    padding-bottom: 0px;
}
  
.footer .social > a {
    font-size: 24px;
    padding: 2px 12px;
    text-align: center;
    border-radius: 20%;
    border: 1px solid #ccc;
    margin: 0 8px;
    opacity: 0.75;
}
  
.footer .social > a:hover {
    opacity:0.9;
    color: #35845d;
}
  
.footer .copyright {
    text-align: center;
    font-size: 17px;
    margin-top: -1cm;
    color:rgb(0, 0, 0);
    opacity: 0.5;
}

