*, *::before, *::after {
    box-sizing: border-box;
}

.Travelaux {
    font-size: xx-large;
    font-weight: bold;
    text-align: center;
    padding: 22px 10px 23px 35px;
}

.footer {
    background-color: #eef4f7;
    color: #242527;
    text-align: center;
    height: 7cm;
    margin-top: -10px;
}

.sub-title {
    text-align: center; 
    padding-top: 25px; 
    padding-bottom: 21px;
    font-family: 'Prata', serif;
}

.sub-text {
    display: block;
    text-align: center;
    font-size: large;
    font-weight: bold;
    padding-top: 15px; 
    font-family: 'Poppins', sans-serif;
}

#question-title {
    display: block;
    align-items: center;
    align-content: center;
    height: 9.7cm;
    margin: auto;
    background-repeat: no-repeat;
    position: relative;
    border-radius: 7px;
}

#question {
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 10px;
    padding: 0 6cm;
    border-radius: 20px;
    background-color: rgb(204, 204, 204);
}

.place {
    display: block;
    background-color: rgb(199, 240, 240);
    border-radius: 3px;
    padding: 2.5cm;
    margin: 3px 0 3px 0;
    box-shadow: 0 0 2px 0.1px;
}

.place-txt {
    font-family: 'Jost', sans-serif;
    margin: -2.2cm 0 0 -1.9cm
}

.container {
    display: grid;
    align-items: center;
    margin: auto;
    margin-top: 1cm;
    background-color: #eef4f7;
    border-radius: 5px;
    padding: 10px;
    width: 63%;
    box-shadow: 0 0 3px 0.1px;
}

.places {
    display: grid;
    align-items: center;
    margin: auto;
    margin-top: 1cm;
    background-color: #eef4f7;
    border-radius: 5px;
    padding: 10px;
    width: 63%;
    box-shadow: 0 0 4px 0.1px;
}

.selected-button {
    background-color: rgb(202, 187, 216);
    color: white;
    padding: 5px 10px;
    border: 1px #ccc solid;
    border-radius: 4.5px;
    outline: none;
}

.hide {
    display: none;
}

.btn {
    border: 1px #ccc solid;
    border-radius: 4.5px;
    background-color: antiquewhite;
    padding: 5px 10px;
    color: rgb(112, 112, 112);
    outline: none;
    cursor: pointer;
}

.extend-btn {
    float: right;
    cursor: pointer;
    margin-right: -2.2cm;
    margin-top: -2.2cm;
    outline: none;
    border-radius: 30cm;
    border: none;
    background-color:rgb(199, 240, 240);
}

.extend-btn:hover {
    background-color: rgb(197, 219, 219);
}

.extend-btn:active {
    background-color: rgb(175, 194, 194);
}

.btn:hover {
    border-color: black;
    transition: border 0.37s ease-in-out;
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 7px;
    margin: 15px 0;
}

.start-btn, .previous-btn, .next-btn, .end-btn {
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
}

.start-init {
    margin: auto;
}

.controls {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 8px;
}

body {
    margin: 0;
    overflow: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #eef4f7;  
    font-size: large;
}

hr { 
    display: block;
    margin-top: 2px;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
    width: 65%;
    animation: linemation 2.5s ease;
} 

ul.navbar {
    position: relative;
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

li {
    float: right;
}

li a {
    display: block;
    color: #242527;
    text-align: center;
    padding: 30px 30px 23px 0px;
    text-decoration: none;
    font-size: 21px;
    font-family: 'Comfortaa', cursive;
    font-weight: bold;
}

li a:hover{
    color: #35845d;
    transition: 0.4s;
}
  
.footer ul {
    padding-top: 1px;
    list-style: none;
    text-align: center;
    font-size: 18px;
    padding-right: 8.5cm;
}
  
.footer li {
    padding: 3px;
}
  
.footer ul a {
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
}
  
.footer ul a:hover {
    opacity: 1;
    color: #35845d;
}
  
.footer .social {
    display: block;
    text-align: center;
    margin-top: 2cm;
}
  
.footer .social > a {
    font-size: 24px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    text-align: center;
    border-radius: 20%;
    border: 1px solid #ccc;
    margin: 0 8px;
    color: inherit;
    opacity: 0.75;
}
  
.footer .social > a:hover {
    opacity:0.9;
    color: #35845d;
}
  
.copyright {
    display: block;
    margin-top: 3cm;
    font-size: 17px;
    color:rgb(0, 0, 0);
    opacity: 0.5;
}
  
/* Credit to https://epicbootstrap.com/snippets/footer-basic */

@keyframes linemation {
    0% {width: 0%;}
    100% {width: 65%;}
}

