* {
    box-sizing: border-box;
}

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
    padding: 15px;
}

@media only screen and (min-width: 768px) {
/* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.Travelaux {
    font-size: xx-large;
    font-weight: bold;
    text-align: center;
    padding: 16px;
}

.back-image {
  background-image: url("Images/alain-yAu52w1lo64-unsplash.jpg");
  background-color: #cccccc;
  height: 700px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.center {
    display: block;
    padding-top: 5cm;
    margin-left: auto;
    margin-right: auto;
    max-width: 15%;
    height: auto;
}

.w3-animate-bottom {
    position: relative;
    animation: animatelogo ease-in-out 1.7s;
}

.intro {
    background-color: rgb(0, 0, 0);
}

.intro-text {
    display: flex;
    font-family: 'Montserrat', sans-serif;
    color:#e0e9ee;
    text-align: justify;
    align-items: center;
    justify-content: center;
}

.footer {
    background-color: #eef4f7;
    color: #242527;
    text-align: center;
}

body {
    margin: 0;
    overflow: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #eef4f7;  
    font-size: large;
}


ul.navbar {
    position: relative;
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

li {
    float: right;
}

.navbar li a {
    display: block;
    color: #242527;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    font-size: 21px;
    font-family: 'Comfortaa', cursive;
    font-weight: bold;
}

li a:hover{
	transition: 0.4s;
    color: #35845d;
}

.footer {
    margin-top: 1cm;
}
  
.footer ul {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3px;
    list-style: none;
    text-align: center;
    font-size: 18px;
}
  
.footer li {
    padding: 12px;
    font-size: 21px;
    font-family: 'Comfortaa', cursive;
    font-weight: bold;
}
  
.footer ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
}
  
.footer ul a:hover {
    opacity:1;
    color: #35845d;
}
  
.footer .social {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 35px;
    padding-bottom: 0px;
}
  
.footer .social > a {
    font-size: 24px;
    padding: 2px 12px;
    text-align: center;
    border-radius: 20%;
    border: 1px solid #ccc;
    margin: 0 8px;
    opacity: 0.75;
}
  
.footer .social > a:hover {
    opacity: 0.9;
    color: #35845d;
}
  
.footer .copyright {
    text-align: center;
    font-size: 17px;
    margin-top: -1cm;
    color:rgb(0, 0, 0);
    opacity: 0.5;
}
  
/* Credit to https://epicbootstrap.com/snippets/footer-basic */

@keyframes animatelogo {
    0% {bottom:-150px;opacity:0} 
    100% {bottom:0;opacity:1}
}

@keyframes animatetext {
    0% {padding-top: 120px;opacity:0} 
    100% {padding-top: 0px;opacity:1}
}
